@media screen and (max-width: 1450px) {
	.container {
		width: 1206px;
	}
	.item-desk {
		grid-template-columns: repeat(4, 200px);
	}
}
@media screen and (max-width: 1200px) {
	.container {
		width: 1000px;
	}
	header .container {
		width: 1000px;
		margin: auto;
		padding: 0;
	}
	nav a {
		margin-right: 10px;
		font-size: 16px;
	}
	.searchline {
		height: 46px;
		max-width: 400px;
}
	.icons {
		position: relative;
		top: 0;
	}
	.info-block {
		height: 80px;
		width: 220px;
		position: absolute;
		top: 0;
		right: 0;
	}
	i.far,
	i.fas {
		height: 30px;
		width: 30px;
		font-size: 16px;
	}
	i.far::before, 
	i.fas::before {
		padding: 7px 0;
		width: 30px;
	}
	.item-desk {
		grid-template-columns: repeat(3, 200px);
	}
	.catalog aside + article {
		margin-left: 0;
	}
	.link-item {
		width: 279px;
	}
	.link-item .instagram-link {
	padding: 12px 20px 12px 40px;
	margin: 0 100px 6px 0;
	}
	.catalog aside + article {
		margin-left: 260px;
	}
}
@media screen and (max-width: 1024px) {
	.container {
		width: 750px;
	}
	header .container {
		width: 750px;
		margin: auto;
		padding: 0;
	}
	nav a {
		margin-right: 10px;
		font-size: 16px;
	}
	.searchline {
		height: 46px;
		max-width: 250px;
}
	.banner {
		height: 400px;
	}
	.banner-item {
		display: flex;
		width: 100%;
		height: 400px;
	}
	.banner h1 {
    font-size: 30px;
	line-height: 1.2;
	}
	.banner-link {
		height: 25px;
		width: 180px;
		font-size: 16px;
	}
	.title-block {
		max-width: 600px;
	}
	.catalog aside {
		width: 120px;
		height: 60px;
	}
	.main-menu {
		padding-left: 10px;
	}
	.item-desk {
		margin-top: 100px;
	}
	.mom {
		font-size: 14px;
		margin-left: 50px;
		height: 20px;
		padding: 16px;
		width: 170px;
	}
	.mom .title::before {
	content: '';
	}
	.mom.open .title::before {
		content: '';
	}
	.product {
		margin-top: 100px;
	}
	a .title:hover {
		content: '';
	}
	a.open .title:hover {
		content: '';
	}
	.link-item {
		width: 226px;
	}
	.link-item .instagram-link {
	padding: 12px 20px 12px 40px;
	margin: 0 70px 6px 0;
	}
	.accordeon {
		height: 0;
		width: 0;
	}
	.catalog aside + article {
		margin-left: 0;
	}
}
@media screen and (max-width: 830px) {
	.container {
		width: 650px;
	}
	header .container {
		width: 650px;
	}
	.catalog aside + article {
		margin-left: 0;
	}
	.catalog aside {
		width: 240px;
		float: top;
	}
	.link-item {
		width: 226px;
	}
	.link-item .instagram-link {
	padding: 12px 20px 12px 40px;
	margin: 0 70px 6px 0;
	}
	.mom {
		margin-left: 20px;
	}
	
	.footer-link {
	max-width: 650px;
	}
	.footer-logo {
		margin-left: 0;
		width: 0;
	}
	.footer-logo .logo {
		height: 0;
		width: 0;
	}
	.link-item {
		width: 179px;
	}
	.link-item .instagram-link {
	padding: 12px 20px 12px 40px;
	margin: 0 0 6px 0;
	}
	.slider {
		max-width: 830px;
	}
	.slider .container {
	height: 350px;
	}
	.slider_desk {
		height: 250px;
	}
	.slider_block_all {
		height: 250px;
	}
}
@media screen and (max-width: 650px) {
	.container {
		width: 320px;
	}
	header .container {
		width: 320px;
		height: 180px;
	}
	.item-desk {
		grid-template-columns: repeat(1, 200px);
	}
	.bottom-block {
		max-width: 320px;
		display: flex;
		flex-direction: column;
	}
	.bottom-block .link-item .head-link {
		height: 350px;
		display: none; 
	}
	.link-item {
		margin-top: 15px;
		width: 300px;
	}
	.link-item .instagram-link {
		padding: 12px 20px 12px 40px;
		margin: 0 100px 6px 0;
	}
	.link-block-footer {
		height: 50px;	
	}
	.top-block {
		max-width: 320px;
		display: flex;
		flex-direction: column;
	}
	.top-block .link-item {
		height: 94px;
	}
	.searchline {
		display: none;
	}
	nav a {
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
	}
	.logo {
		height: 100%;
	}
	.mom {
		margin-left: 69px;
	}
	.info-block .link a {
		font-size: 15px;
	}
	.contacts span {
		font-size: 11px;
	}
	.actionband .container {
	display: flex;
	flex-direction: column;
	padding: 16px;
	align-items: flex-start;
	max-width: 320px;
}
	.discount,
	.retaimer,
	.sept,
	.num {
		font: bold 20px/1 Arial;
	}
	.retaimer {
		border-top: 1px solid #fff;
		border-left: none;
		padding: 24px 0 0 0;
		margin: 0 auto;	
	}
	.discount {
	margin: 0 auto;
	}
	
	.banner {
		height: 800px;
	}
	.banner-items {
		display: block;
		width: 100%;
	}
	.banner h1 {
    font-size: 20px;
	line-height: 1;
	}
	.banner-link {
		display: block;
		height: 20px;
		width: 150px;
		font-size: 14px;
	}
	.slider {
		max-width: 650px;
	}
	.slider .container {
		height: 250px;
	}
	.slider_desk {
		height: 150px;
	}
	.slider_block_all {
		height: 150px;
	}
	.slider_desk > button {
	top: 40px;
	}
	.fa-angle-left {
		left: 4px;
	}
	.fa-angle-right {
		right: 4px;
	}
	.title-block {
		max-width: 320px;
		display: block;
		padding-left: 100px;
	}
	.p {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.instagram-link {
		margin-top: 0;
		font-size: 18px;
		margin-left: 30px;
		margin-bottom: 20px;
	}
	.article-top {
		display: block;
	}
	.product h1 {
	text-align: center;
}
	.price_desk {
		margin-left: 69px;
		width: 170px;
	}
	.price_desk .price {
		font-size: 24px;
		margin-left: 30px;
	}
	.price strong {
		font-size: 32px;
	}
	.gallery_window { 
		width: 270px;
		height: 60px;
	}
	.gallery_rail {
		gap: 2px;
	}
	.gallery img {
		padding: 0px;
	}
	.table table {
		display: block;
	}
	.table tr {
		display: flex;
		flex-wrap: wrap;
	}
	.table th,
	.table td {
		display: block;
		width: 25%;
	}
	.table .id {
		width: 24px;
		flex: none;
	}
	.table .delete {
		width: 40px;
		flex: none;
	}
	.table tr:first-child th,
	.table tr:last-child th {
		border: none;
	}
	.table tr:first-child {
		border-bottom: 2px solid #000;
		background: #a99793;
	}
	.table tr:last-child {
		border-top: 2px solid #000;
		background: #a99793;
	}
	.table .quantity .inner {
		justify-content: space-between;
	}
	.table .quantity,
	.table .price,
	.table .summa {
		width: 80px;
		flex: none;
	}
	.table th.name,
	.table th.quantity {
		padding: 8px;
		font-size: 14px;
	}
	.table tr:last-child th.itog {
		width: 130px;
	}
	.table th.name,
	.table tr:last-child th:first-child,
	.table .id {
		display: none;
	}
	.table .name {
		width: 100%;
		font-weight: bold;
	}
	.table tr:last-child {
		display: block;
	}
	.table tr:last-child th {
		width: 50%;
		flex: none;
	}
	.customer {
		width: 160px;
	}
}
